:root {
  --color-primary-light-0: #fff9db;
  --color-primary-light-1: #fff3bd;
  --color-primary-light-2: #ffec99;
  --color-primary-light-3: #ffe066;

  --color-primary-dark-1: #ffd43b;
  --color-primary-dark-2: #fcc419;
  --color-primary-dark-3: #fab005;
  --color-primary-dark-4: #f59f00;
  --color-primary-dark-5: #f59f00;
  --color-primary-dark-6: #e67700;
}
