<div class="details" *ngIf="card">
  <h2 class="details__header">{{ card.title }}</h2>

  <div class="details__price">
    <h3 class="details__header--small">Type</h3>
    <ul>
      <li
        class="details__item"
        [class.details__item--selected]="item.selected"
        (click)="selectCardItem(card, item)"
        *ngFor="let item of card.details.price"
      >
        {{ item.description }} - {{ item.price }} &dollar;
      </li>
    </ul>
  </div>
  <div class="details__attractions">
    <h3 class="details__header--small">Attractions</h3>
    <ul>
      <li
        class="details__item"
        [class.details__item--selected]="item.selected"
        (click)="selectCardItem(card, item)"
        *ngFor="let item of card.details.attractions"
      >
        {{ item.description }}
      </li>
    </ul>
  </div>
  <div class="details__duration">
    <h3 class="details__header--small">Duration</h3>
    <ul>
      <li
        class="details__item"
        [class.details__item--selected]="item.selected"
        (click)="selectCardItem(card, item)"
        *ngFor="let item of card.details.duration"
      >
        {{ item.description }}
      </li>
    </ul>
  </div>
</div>
