.dropdown {
  position: relative;

  &__icon {
    width: 45px;
    height: 45px;
    fill: var(--color-primary-dark-4);
    transition: all 0.3s;

    &--selected {
      transform: scale(1.2);
    }
  }

  &__list {
    display: none;
    position: absolute;
    z-index: 5;
    right: 5px;
    font-size: 0.8rem;
    transition: all 0.4;
    background-color: var(--color-primary-light-1);

    & ul {
      list-style: none;
      font-size: 1rem;

      li {
        padding: 1rem 2rem;
        transition: all 0.3s;

        &:hover {
          background-color: var(--color-primary-dark-2);
        }
      }
    }

    &--display {
      display: block;
    }
  }
}
